<ion-view title="Page" id="page2">
  <ion-content padding="true" class="has-header">
    <!-- <p>Name: {{name}}</p>
    <p>Is Student?: {{student}}</p>
    <p>Age: {{age}}</p> -->
    <p><b>Ciudad: </b>{{cityname}}</p>
    <p><b>Temperatura: </b>{{temperature}}</p>
    <p><b>Description: </b>{{commentary}}</p>
    <img src="{{icon}}"></img>
    <!-- <p><b>Ciudad: </b>{{cityname}}</p> -->
  </ion-content>
</ion-view>

<!-- <script>

  $(document).ready(function(){
    $.ajax({
      url: {{url}},
      type: "GET",
      dataType: "jsonp",
      success: function(data){
        console.log(data);
      }

    });
  });.ñ

</script> -->
